﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Site.master" CodeBehind="UnAccess.aspx.cs" Inherits="WalikuWebSite.UnAccess" %>



<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="Server">
    <!-- Modal -->
    <main class="l-main custom-material">
        <div class="content-wrapper content-wrapper--with-bg">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        You are not authorized to view this page
                    </h1>
                </div>
            </div>
          

            </div>
        </main>


     <script>document.write("<script type='text/javascript' src='Scripts/UnAccess.js?v=" + JsVerion + "'><\/script>");</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>




    </asp:Content>